.highlight{background-color: aqua;}
.in-line{width:100%; height:40px; }
#layoutBackground { position:absolute; z-index:900; background-color:#000; display:none; left:0; top:0; } 

/*create Dialogue Modal CSS*/
.group-float-left{ float:left;width: 30%;margin-right: 5%; }
.group-float-left-last {float:left;width: 30%; }
.mediaCarouselLayout-float-left{ float:left; width: 46%; margin-right:8%; }
.mediaCarouselLayout-float-left-last{ float:left; width: 46%; }
.btnBox{ width:100%; margin-bottom:3px; }
.clear-both{ clear:both; }
.w82{ width: 82px; }