<!DOCTYPE html>
<html>

<head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/css/setting.css' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
        TIIS Manager
        </title>
        <%include  ./common/commonUse.html%>
        <%
            if(languageNow == 'ko') {
        %>
        <script type="text/javascript" src="/js/import/freejqgrid/js/i18n/grid.locale-kr.js" charset="utf-8"></script>
        <%
            } else {
        %>
        <script type="text/javascript" src="/js/import/freejqgrid/js/i18n/grid.locale-en.js" charset="utf-8"></script>
        <%
            }
        %>
        <script type="text/javascript" src="/js/import/freejqgrid/js/jquery.jqgrid2016.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="/js/common/apiSetting.js"></script>
</head>

<body class="main">
    <%include  ./header.html%>
    <div id="setting-wrap">
        <%include  ./settingLeftMenu.html%>
        <div class="setting-contents blue">
            <div class="title">
                <%= __('API_MNG') %>
            </div>
            <div class="settingSearch">
                <form id="frm" name="frm" method="post">
                    <input type="text" name="dummy" id="dummy" value="" style="display:none;"/>
                    <div class="tbl_area_l"  style="width:62%; " >
                        <span class="optit ml15"> API ID:</span>
                        <div class="search_inbox" style="width:30%;">
                            <input type="text" name="searchId" id="searchApiId" class="inbox_search" style="width:88%;" title="검색어입력" alt="<%= __('Please enter ...') %>" value="">
                            <a href="#" id="btn_Inq_search" name="btn_Inq_search" alt="검색" value="검색" style="float:right;" class="btn_insearch"><span class="hc"><%= __('Search word') %></span></a>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tbl_area" id="tbl_div1">
                <div class="tbl_area_l" >
                    <p class="grid_tit"><%= __('API_LIST') %></p>
                </div>
                <div class="tbl_area_r" >
                    <a href="javascript://" class="btn" id="btn_crte_insert1" name="btn_crte_insert1" style="margin:0 5px 0 0;" alt="추가" onclick="insertAction();"><%= __('ADD') %></a>
                    <a href="javascript://" class="btn" id="btn_crte_delete1" name="btn_crte_delete1" style="margin:0 5px 0 0;" alt="삭제" onclick="deleteAction();"><%= __('DELETE') %></a>
                    <a href="javascript://" class="btn" id="btn_crte_save1" name="btn_crte_save1" style="margin:0 5px 0 0;" alt="저장" onclick="saveAction();"><%= __('SAVE') %></a>
                    <a href="javascript://" class="btn" id="btn_crte_init1" name="btn_crte_init1" style="margin:0 5px 0 0;" alt="초기화" onclick="restoreGridAction();"><%= __('INIT') %></a>
                </div>
            </div>

            <div class="grid_wrap" style=" height:200px;">
                    <!-- 공통코드 마스터 목록 그리드 -->
                <table id="gridList" class="scroll"></table>
                <div id="pager" style="text-align:center;"></div>
            </div>
            <!-- //공통코드 마스터 목록 -->

            
            <hr>
            <footer>
                <p>&copy; Company 2014</p>
            </footer>
        </div>
    </div>
    
    
</body>

    
    
</html>