<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/css/utterances.css' />
	<link rel='stylesheet' href='/css/botchat.css' />
    <link rel='stylesheet' href='/css/style.css' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
        testtestest
    </title>
    
    <%include  ./common/commonUse.html%>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script type="text/javascript" src="/js/import/jquery-2.2.4.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/import/jquery-ui-1.11.4.custom.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/common/boardTest.js"></script>
    <script type="text/javascript" src="/js/import/charts/loader.js"></script>.

    
    
<style type="text/css">

    .table .google-visualization-table-tr-odd, .table .google-visualization-table-tr-even {
        background-color: transparent;
    }
    #ChartOverview .table {
        margin-bottom: 0;
    }
    #ChartOverview .TotalRow {
        background-color: #e4e9f4;
    }
    #ChartOverview .TotalRow td {
        background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.7) 30%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 100%);
        font-weight : 700;
    }
    
    
    .flyout{
    position:absolute;
    width:auto;
    height:30px;
    padding: 3px 6px 1px 6px;
    background:gray;
    overflow: hidden;
    z-index:10000;
    font-size:16px;
    }
    
    .hidden{
    visibility: hidden;
    }
    </style>
    
<script type="text/javascript">
</script>
</head>

  <body class="main">

    <div class="container">
        <p align="center" >
            <form name="filterForm" id="filterForm" method="post">
                <div id="channelListDiv"  style="width:10%; height:50px;">채널 </div>

                <input type="text" name="startDate" id="startDate">
                <input type="text" name="endDate" id="endDate">


                <input type="text" name="amount" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                <div id="todayOrNotDiv"  style="width:10%; height:50px;">당일구분
                    <select name="selToday" class="inbox02" id="selToday" style="width:50%">
                        <option value="all">전체</option>
                        <option value="ok">포함</option>
                        <option value="no">미포함</option>
                    </select>
                </div>
                <input type="hidden" name="intentName" id="intentName" value="">
                <a href="#" class="btn b02" onclick="filterSearch()">조회</a>
            </form>
        </p>
    </div>
    <br/>

    <div align="center"  id="slider" style="width: 40%; padding: 10px 0 30px 0;"></div>


    <div class="container" style="width: auto;padding:20px 0 0 0;">
        <div align="left"  id="my_favorite_latin_words" style="width: 70%; height: 450px;"></div>
        <div align="right"  id="wordCloudTotal" style="padding:20px 0 0 0; width: 25%; height: 350px;">
            <h1 align="center"></h1>
            <p align="center">질문수</p>
        </div>
    </div>

    <div class="container">
        <div id="ChartOverview">
            <div class="panel panel-primary">
                <div class="panel-heading">
                     <h3 class="panel-title">score</h3>

                </div>
                <div class="panel-body">
                    <div id="StatusOverview"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="ChartOverview">
            <div class="panel panel-primary">
                <div class="panel-heading">
                     <h3 class="panel-title">often query</h3>

                </div>
                <div class="panel-body">
                    <div id="StatusOverview2"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="ChartOverview">
            <div class="panel panel-primary">
                <div class="panel-heading">
                     <h3 class="panel-title">none query</h3>

                </div>
                <div class="panel-body">
                    <div id="StatusOverview3"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="ChartOverview">
            <div class="panel panel-primary">
                <div class="panel-heading">
                     <h3 class="panel-title">low score</h3>

                </div>
                <div class="panel-body">
                    <div id="StatusOverview4"></div>
                </div>
            </div>
        </div>
    </div>
<div id="menu" class="margint10 round-border">
                <a href="#"><img src="images/menu.jpg" alt="" id="menu_link"/></a>
            </div>
<div class="flyout hidden">&nbsp;</div>
  </body>
</html>