<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
        TIIS Manager
    </title>

	<!-- 
        <link rel="stylesheet" href="./common/css/css_common.html" />
        -->
    

    <%include  ./common/commonUse.html%>
    <!-- Google Chart 시작 -->
    <script type="text/javascript" src="/js/import/charts/loader.js"></script>
    <!-- Google Chart 끝 -->
    <script type="text/javascript" src="/js/common/board.js"></script>
    
    <!--    
    <style type="text/css">
        .appLayout { position:absolute; display:none; background-color:#ffffff; border:solid 2px gray; width:150px; height:120px; padding:10px; } 

    </style>
    -->

    
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> test-->
</head>

<body class="main">
    <input type="hidden" name="subKey" id="subKey" value='<%=subKey%>'/>
    <input type="hidden" name="appId" id="appId" value='<%=appId%>'/>
    <input type="hidden" name="appId" id="appId" value='<%=appName%>'/>
    <!--<link rel="import" href="./header.html">    -->
    <%include  ./header.html%>

    <div id="wrap">
        <div id="container" class="main">

            <div id="sub_cont03">
                <!-- 서브 타이틀 App State-->
                <div class="subt_wrap">
                         <h2 class="subtit01" id="appNameTag"><%= appName %></h2>
                        <p class="subt_01" style="display: none;">학습 의도 목록을 표시합니다. 학습 의도를 새롭게 생성하거나 편집 할 수 있습니다. <a href="#" class="more" id="helpV">+more</a></p>
                </div>
                

                <div  class="mt20">

                        <!-- 학습 현황
                        <div class="dashboard_cont01">
                            <p class="d_tit01">App State</p>
                            <p class="d_tit02">
                                <span><strong>Last Train</strong> <span id="spanLastTrainDateTime"> Loading.. </span></span>
                                <span><strong>Last publish</strong> <span id="spanLastPublishDateTime"> Loading.. </span></span>
                            </p>
                        </div>
                         -->
                        <!--// 학습 현황 -->

                        <!-- 의도수/개체수/개체수리스트/문장수 -->
                         <div class="dashboard_cont01" >
                            <form action="" id="filterForm">
                            <div style="float: left; margin-right: 15%">
                                <p class="d_tit01">조회기간</p>

                                <input type="text" name="startDate" id="startDate">~<input type="text" name="endDate" id="endDate">
                                <div align="center" name="slider" id="slider" style="width: 94%; margin: 20px 0 0 9px;"></div>

                            </div>
                            <div style="float: left; margin-right: 15%">
                                <p class="d_tit01">당일구분</p>
                                <select class="inbox02" id="selDate" name="selDate" style="width: 200px">
                                    <option value="allDay">모두</option>
                                    <option value="today">당일</option>
                                </select>
                            </div>
                            <div style="float: left">
                                <p class="d_tit01">채널</p>
                                <select class="inbox02" id="selChannel" name="selChannel" style="width: 200px">
                                    <option value="all">모두</option>
                                </select>
                            </div>
                            </form>
                         </div>

                        <div class="dashboard_cont04" style="margin-right: 1%;" >
                            <p class="d_tit01">INTENT SCORE 평균/최소/최대</p>
                            <div id="score" style="margin: 20px;"></div>
                        </div>

                        <div class="dashboard_cont03" style="margin-bottom: 1%;">
                            <p class="d_tit01">자주하는 질문 답변 top 10</p>
                            <div id="oftQuestion" style="margin: 20px;"></div>
                        </div>

                        <div class="dashboard_cont04" style="width: 50%; background-color: white; padding: 0%">
                                <div class="dashboard_cont02 pane01">
                                        <p class="d_tit01">누적 상담자수</p>
                                </div>
    
                                <div class="dashboard_cont02 pane01">
                                        <p class="d_tit01">평균 답변 속도</p>
                                </div>
    
                                <div class="dashboard_cont02 pane01">
                                        <p class="d_tit01">고객 평균 질문수</p>
                                </div>
    
                                <div class="dashboard_cont02 pane01">
                                        <p class="d_tit01">평균 정상답변율</p>
                                </div>
        
                                <div class="dashboard_cont02 pane01">
                                        <p class="d_tit01">검색 답변율</p>
                                </div>
        
                                <div class="dashboard_cont02 pane01">
                                        <p class="d_tit01">고객 최대 질문수</p>
                                </div>
                            
                            </div>
                            <div class="dashboard_cont04" style="width: 47%;" >
                                    <p class="d_tit01">응답(평균/최고/최소)/평균머무는시간(s)</p>
                        </div>

                        <div class="dashboard_cont06" id="">
                            <p class="d_tit01">시간대별 질문수</p>
                                <p class="d_tit03" style="line-height: 8;"><span> Loading.. </span></p>
                        </div>
                       
                       <!-- //Intent Breakdown/Entity Breakdown -->
                       
                       <div class="dashboard_cont06" id="noneQueryDiv">
                            <p class="d_tit03" style="line-height: 8;"><span> Loading.. </span></p>
                        </div>

                        <div class="dashboard_cont04" id="top_x_div" style="float: left;">
                            <p class="d_tit03" style="line-height: 8;"><span> Loading.. </span></p>
                        </div>

                        <div class="dashboard_cont03" id="table_div" style="float: left; margin: 0 0 15px 10px;">
                            <p class="d_tit03" style="line-height: 8;"><span> Loading.. </span></p>
                        </div>

                        <div class="dashboard_cont02">
                                <p class="d_tit01">Intents<!-- 의도수 --></p>
                                <p class="d_tit03"><span id="spanIntentsCount"> <%=INTENT_CNT %> </span></p>
                           </div>
                           <div class="dashboard_cont02">
                                <p class="d_tit01">Entities<!-- 개체수 --></p>
                                <p class="d_tit03"><span id="spanEntitiesCount"> <%=ENTITY_CNT %></span></p>
                           </div>
                           <div class="dashboard_cont02">
                                <p class="d_tit01">Labeled Utterances<!-- 문장수 --> </p>
                                <p class="d_tit03"><span id="spanUtteranceCount"> <%=DLG_CNT %> </span></p>
                           </div>
                           <!-- //의도수/개체수/개체수리스트/문장수 -->
    
                           <!-- Endpoint Hits per period / Total Endpoint Hits-->
                           <div class="dashboard_cont03" id='chart_div'>
                             <p class="d_tit03" style="line-height: 8;"><span> Loading.. </span></p>
                                <!-- <p class="d_tit01">Endpoint Hits per period  <span>PER DAY (LAST WEEK)</span> <a href="#" class="btn_setting" id="sett" ></a> </p>
                                <div class="chart_w" ><div id='chart_div' style='width: 900px; height: 500px;'></div></div> -->
                           </div>
                           <div class="dashboard_cont03_sett" >
                                <p class="d_tit04"><a href="#" class="btn_sett_back"  id="sett_back" ></a> </p>
                                <p class="d_tit04">Endpoint Hits Per Period  </p>
                                <p class="mt30"> Select Period:
                                   <select name="" class="inbox02" style="width:98%;">
                                      <option>Last Week</option>
                                   </select>
                                </p>
                           </div>
    
                           <div class="dashboard_cont04">
                                <p class="d_tit01">Total Endpoint Hits <span>SINCE APP CREATION</span></p>
                                <p class="d_tit03"><span id="spanEndpointCount"> Loading.. </span></p>
                           </div>
    <!--                               <div class="dashboard_cont04">
                                <p class="d_tit01">Key Usage </p>
                                <p class="d_tit03"><span> </span></p>
                           </div> -->
                           <!-- //Endpoint Hits per period / Total Endpoint Hits -->
    
    
                           <div class="dashboard_cont06" id="columnchart_values">
                             <p class="d_tit03" style="line-height: 8;"><span> Loading.. </span></p>
    <!--                                    <p class="d_tit01">Entity Breakdown  <span>ON LABELED UTTERANCES</span> <a href="#" class="btn_setting" id="sett03" ></a> </p> -->
    <!--                                    <div class="chart_w"><div id="columnchart_values" style="width: 900px; height: 300px;"></div></div> -->
                           </div>
    
                           <div class="dashboard_cont06_sett">
                                <p class="d_tit04"><a href="#" class="btn_sett_back"  id="sett_back03"  ></a> </p>
                                <p class="d_tit04">Entity Breakdown</p>
                                <p class="mt30"> Breakdown based on:
                                   <select name="" class="inbox02" style="width:98%;">
                                      <option>Last Week</option>
                                   </select>
                                </p>
                           </div>

                  </div>





            </div>
        </div>
    </div>
        <hr>
        <footer>
            <p>&copy; Company 2014</p>
        </footer>
	<!-- /container -->
    
</body>

    
    
</html>