<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
        <!--<%= title %>title-->
        TIIS Manager
    </title>

	<!-- 
        <link rel="stylesheet" href="./common/css/css_common.html" />
        -->
    

    <link rel="stylesheet" type="text/css" href="/css/ext/plugin/jquery_ui/jquery-ui-1.11.4.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="/js/treeview/jquery.treeview.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/js/freejqgrid/css/ui.jqgrid.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/js/freejqgrid/css/jqGrid.bootstrap.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/js/ext/ax/AXJ.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/sub.css" />
    <link rel="stylesheet" type="text/css" href="/js/jqcloud/jqcloud.css" />
    <link rel="stylesheet" type="text/css" href="/css/header.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script type="text/javascript" src="/javascript/appList.js"></script>
    <script type="text/javascript" src="/javascript/index.js"></script>
    <script type="text/javascript" src="/javascript/header.js"></script>
    
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> test-->
</head>

<body class="main">
<%include  ./header.html%>
<div id="wrap">
        <div id="container" class="main">
            common 페이지입니다.
        </div>
    </div>
        <hr>
        <footer>
            <p>&copy; Company 2014</p>
        </footer>
	<!-- /container -->

</body>

    
    
</html>