<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
        TIIS Manager
    </title>

	<!-- 
        <link rel="stylesheet" href="./common/css/css_common.html" />
        -->
    

    <%include  ./common/commonUse.html%>
    <script type="text/javascript" src="/js/common/dialog.js"></script>
    <!--    
    <style type="text/css">
        .appLayout { position:absolute; display:none; background-color:#ffffff; border:solid 2px gray; width:150px; height:120px; padding:10px; } 

    </style>
    -->

    
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> test-->
</head>

<body class="main">
	
    <!--<link rel="import" href="./header.html">    -->
    <%include  ./header.html%>
    <%include  ./header4Luis.html%>
    <div id="wrap4Luis">
        <div id="container" class="main">
            <div class="subt_wrap">
                <div id="subtitDiv"><h2><%= title %></h2></div>
            </div>

            <div id="dialogDiv">
                <div class="dialogLeft">     
                    <div class="in-line">
                        <input name="iptDialog" id="iptDialog" type="text" class="inbox02" style="width:82.5%; margin: 3px;" placeholder="입력문장" >
                        <button class="btn" id="dialog">new</button>
                    </div>                                         
                </div>
                <table class="Tbl" id="dialogTbl">
                    <thead>
                        <tr>
                            <th class="txt_center">
                                <select name="sourceType" id="luisentities">
                                    <option value="D" selected="selected">Common</option>
                                    <option value="api quot">Api Quot</option>
                                    <option value="api testdrive">Api Testdrive</option>
                                </select>
                            </th>
                            <th class="txt_center">
                                <select name="groupType" id="luisintent">
                                    <option value="Advantage" selected="selected">Advantage</option>
                                    <option value="airbag" >airbag</option>
                                    <option value="audio" >audio</option>
                                </select>
                            </th>
                            <th class="txt_left" colspan="3">설명</th>
                            <th class="txt_left" colspan="3">연결 어터런스</th>
                        </tr>
                    </thead>
                    <tbody id="dialogTbltbody">
                      
                    </tbody>
                </table>
            </div>                            
        </div>
    </div>
        <hr>
        <footer>
            <p>&copy; Company 2014</p>
        </footer>
	<!-- /container -->
    
</body>

    
    
</html>