
<div id="header_wrap02">
    <div id="header">
      <!-- <a class="logo" href="/"><span class="hc">챗봇_학습관리포털</span></a> -->
        <div class="gnb_wrap" id="menuLv1">
            <ul class="headerUl">
            <!--<a class="gnbm" href="/">Home</a><p class="cline">|</p>-->
            <%
            if(selMenu == 'm1')
            {
                %>
                    <li class="headerHover">
                        <a class="gnbm" href="/list" id="selMenus">My apps</a>
                    </li>
                    <li class="headerHover">
                        <a class="gnbm" href="/dialog">Board</a>
                    </li>
                    <li class="headerHover">
                        <a class="gnbm" href="/common">Learning </a>
                    </li>
                <%
            }
            else if(selMenu == 'm2')
            {
                %>
                    <li class="headerHover">
                        <a class="gnbm" href="/list" >My apps</a>
                    </li>
                    <li class="headerHover">
                        <a class="gnbm" href="/dialog" id="selMenus">Board</a>
                    </li>
                    <li class="headerHover">
                        <a class="gnbm" href="/common">Learning </a>
                    </li>
                <%
            }
            else if(selMenu == 'm3')
            {
                %>
                    <li class="headerHover">
                        <a class="gnbm" href="/list" >My apps</a>
                    </li>
                    <li class="headerHover">
                        <a class="gnbm" href="/dialog">Board</a>
                    </li>
                    <li class="headerHover">
                        <a class="gnbm" href="/common" id="selMenus">Learning</a>
                    </li>
                <%
            }
            %>
            <!--<a class="gnbm" href="/list" id="myapp">My app</a><p class="cline">|</p>
            <a class="gnbm" href="#">DLG</a><p class="cline">|</p>
            <a class="gnbm" href="#">COMMON</a>-->
            </ul>
        </div>
      <!--
          
          <div class="user_login">
            
            <% if(sid == ''){ %>
            <form action="/login" method="post" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" name="id" placeholder="id" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" name="pwd" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success" style="background:#cecece !important;">Sign in</button>
            </form>
            <% }else { %>
            <a class="navbar-brand navbar-right"> <%=sid %> ::: Hello</a>
            <% }%>
        
        </div> -->
        <div class="loginOk" onclick="userLayoutPop(event, this);">
 
            <% if(sid) { %>
                <ul class="headerUl">
                    <li class="headerHover" style="padding-top: 10px;">
                         <%=sid%>
                    </li>
                </ul>
                
                <!-- 레이어 팝업 추가해주세요.
                <a href="/users/logout" class="btn js-open-modal">로그아웃</a>
                -->
            <%                  
                }
            <!-- 비로그인 접근 시 로그인 화면으로 이동-->
            else
            {
                %>
                <script>
                    alert("로그인을 해주세요");
                    location.href = '/';
                </script>
                <%
            }%>
            
        </div>
        <!-- 언어선택
        <div class="stb-select_w">
            <div class="stb-select-container">
                <span class="selected">English</span><select class="language" id="selLocale" style="display: none;">
                    <option value="en" selected="">English</option>
                    <option value="ko">Korea</option>
                </select><ul class="stb-select" style="display:none;"><li value="en" selected="selected">English</li><li value="ko">Korea</li></ul>
            </div>
        </div>
        -->
    </div>
    
    <div id="userlay" class="userappLayout" >
            <div class="userlayerMenu" >
                <a href="#" class="userlayerMenu a"  id="btn_crte_appEdit"><span class="userlayoutFont">Rename App2</span></a> <!-- class="btn_edit js-open-modal" 수정아이콘 -->
            </div>
            <div class="userlayerMenu">
                <a href="#" class="userlayerMenu b" ><span class="userlayoutFont">Delete App2</span></a>
            </div>
    </div>

</div>