<script>
    

    
    $(document).ready(function(){
        var obj = $("#wrap4Luis").offset();
        $("#menu").css("top", obj.top);

        $(".btn").click(function() {
            $("#menu").toggleClass("open");
        });
    });

</script>
<div id="header_wrap03">
    <div id="header">
      <!-- <a class="logo" href="/"><span class="hc">챗봇_학습관리포털</span></a> -->
        <div class="gnb_wrap_for_Luis">
            <ul class="headerMenu_for_Luis">
                <li class="headerLi_for_Luis_left">
                    <a class="gnbm" href="#" id="selMenus">TEST</a>
                </li>

                <li class="headerLi_for_Luis_right">
                    <button class="btn" onclick="">Train</button>
                </li>
                <li class="headerLi_for_Luis_right">
                    <button calss="" onclick="">Test</button>
                </li>
                <li class="headerLi_for_Luis_right">
                    <a class="gnbm" href="#" id="selMenus">MAPPINGS </a>
                </li>
                <li class="headerLi_for_Luis_right">
                    <a class="gnbm" href="#" id="selMenus">DIALOG</a>
                </li>
                <li class="headerLi_for_Luis_right">
                    <a class="gnbm" href="#" id="selMenus">UTTERANCES</a>
                </li>
                <li class="headerLi_for_Luis_right">
                    <a class="gnbm" href="#" id="selMenus">RECOMMEND</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="menu"> 
    가나다라마바사
    가나다라마바사
    가나다라마바사
    가나다라마바사
    가나다라마바사
    가나다라마바사가나다라마바사가나다라마바사가나다라마바사
</div>
