
<div id="header_wrap03">
    <div id="header">
      <!-- <a class="logo" href="/"><span class="hc">챗봇_학습관리포털</span></a> -->
        <div class="gnb_wrap_for_Luis">
            <ul class="headerMenu_for_Luis">
                <li class="headerLi_for_Luis_left">
                    <a class="gnbm" href="#" id="selMenus"><%=appName%></a>
                </li>

                <li class="headerLi_for_Luis_right">
                    <a class="gnbm" href="#" id="selMenus">button2</a>
                </li>
                <li class="headerLi_for_Luis_right">
                    <a class="gnbm" href="#" id="selMenus">button1</a>
                </li>
                <li class="headerLi_for_Luis_right">
                    <a class="gnbm" href="#" id="selMenus">SETTINGS</a>
                </li>
                <li class="headerLi_for_Luis_right">
                    <a class="gnbm" href="#" id="selMenus">PUBLISH</a>
                </li>
                <li class="headerLi_for_Luis_right">
                    <a class="gnbm" href="#" id="selMenus">BUILD</a>
                </li>
                <li class="headerLi_for_Luis_right">
                    <a class="gnbm" href="#" id="selMenus">DASHBOARD</a>
                </li>
            </ul>
        </div>
    </div>
</div>