<script>
    

$(document).ready(function(){
    var obj = $("#wrap4Luis").offset();
    $("#toggleDiv").css("top", obj.top);
    $("#learningTest").css("top", obj.top);
    $("#batchTestPanel").css("top", obj.top);

    $("#toggleTest").click(function() {
        $("#toggleDiv").toggle('slow');
    });

    $("a[name=batchTest]").click(function() {

        if ($("#learningTest").css('display') != 'none') {
            $("#learningTest").hide();
            $("#batchTestPanel").show();
            $("#toggleDiv").toggleClass('open' );
            
            //$("#toggleDiv").css('right', '0px');
        } else {
            
            $("#batchTestPanel").hide();
            $("#learningTest").show();
            $("#toggleDiv").toggleClass('open');
            //$("#toggleDiv").css('right', '-900px');
        }
    });
});

</script>

<div id="header_wrap03">
    <div id="header">
      <!-- <a class="logo" href="/"><span class="hc">챗봇_학습관리포털</span></a> -->
        <div class="gnb_wrap_for_Luis">
            <ul class="headerMenu_for_Luis">
                <li class="headerLi_for_Luis_left">
                    <a class="gnbm" href="#" id="selMenus">TEST</a>
                </li>

                <li class="headerLi_for_Luis_right">
                    <button class="btn" id="toggleTest" onclick="">Train</button>
                </li>
                <li class="headerLi_for_Luis_right">
                    <button calss="" onclick="">Test</button>
                </li>
                <li class="headerLi_for_Luis_right">
                    <a class="gnbm gnbm2" href="/learning/entities" id="selMenus">ENTITIES</a>
                </li>
                <li class="headerLi_for_Luis_right">
                    <a class="gnbm gnbm2" href="#" id="selMenus">DIALOG</a>
                </li>
                <li class="headerLi_for_Luis_right">
                    <a class="gnbm gnbm2" href="/learning/utterances" id="selMenus">UTTERANCES</a>
                </li>
                <li class="headerLi_for_Luis_right">
                    <a class="gnbm gnbm2" href="/learning/recommend" id="selMenus">RECOMMEND</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="toggleDiv">
    <div id="learningTest"> 
        <div style="padding: 1rem; overflow: auto;">
            <h2 style="float: left !important;">learning-test toggle</h2><br/>
            <a class="b" href="#" style="float: right !important;" name="batchTest">Batch testing panel</a>
            <hr style="display:block !important; margin: 30px 0 0 0; border: 0; height: 2px; background: #ccc;">
        </div>
    </div>


    <div id="batchTestPanel"> 
        <div style="padding: 1rem; overflow: auto;">
            <h2 style="float: left !important;">Batch-test toggle</h2><br/>
            <a class="b" href="#" style="float: right !important;" name="batchTest">Single testing panel</a>
            <hr style="display:block !important; margin: 30px 0 0 0; border: 0; height: 2px; background: #ccc;">
        </div>
    </div>
</div>
