<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
        TIIS Manager
    </title>  
    <%include  ./common/commonUse.html%>
    <link rel="stylesheet" type="text/css" href="/css/recommend.css" />
    <script type="text/javascript" src="/js/common/recommend.js"></script>
</head>

<body class="main">
	<input type="hidden" name='currentPage' id="currentPage" value="1" />

    <!--<link rel="import" href="./header.html">    -->
    <%include  ./header.html%>
    <%include  ./header4Luis.html%>

    <!-- css는 recommend.css 에 만들었습니다 -->
    <div id="wrap4Luis">
        <div id="container" class="main">
            <h1><%= __('Additional learning recommendation') %></h1>
            <div id="headerDiv1">
                <select id="recommendPeriod" class="timeSelect">
                    <option value="yesterday" selected><%= __('Yesterday') %></option>
                    <option value="lastWeek"><%= __('Last week') %></option>
                    <option value="lastMonth"><%= __('Last month') %></option>
                    <option value="all"><%= __('All') %></option>
                </select>
                <button class="btn_delete" onclick="deleteRecommend()" disabled>
                    <span class="span_delete">Delete</span>
                </button>
            </div>
            <br/>
            <table class="Tbl" id="sampleTable">
                <thead>
                    <tr>
                        <th class="txt_left" style="width: 3%;"><input type="checkbox" class="tweak-input" id="recommendAll" name="recommendAll"/></th>
                        <th class="txt_left" colspan="3"><%= __('Learning recommendation sentence') %><span></span></th>
                        <th class="txt_center"><%= __('Registration Date') %><span></span> </th>
                       <!-- <th class="txt_right02"></th> -->
                    </tr>
                </thead>
                <tbody id="recommendContents">
                </tbody>
            </table> 
            <div id="pagination">
            </div>
        </div>
    </div>
        <hr>
        <footer>
            <p>&copy; Company 2014</p>
        </footer>
	<!-- /container -->
    
</body>

</html>