<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <%include  ./common/commonUse.html%>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../common/css/bootstrap.min.css">
    <link rel="stylesheet" href="../common/css/font-awesome.min.css">
    <link rel="stylesheet" href="../common/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../common/css/skin-blue.min.css">
    <link rel="stylesheet" href="../common/css/default.css">
    <!--[if lt IE 9]>
    <script src="common/js/html5shiv.min.js"></script>
    <script src="common/js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../common/js/jquery.min.js"></script>
    <script src="../common/js/bootstrap.min.js"></script>
    <script src="../common/js/adminlte.min.js"></script>
    <script src="../common/js/jquery-2.2.4.min.js"  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="../common/js/icheck.min.js"></script>

    <script type="text/javascript" src="/js/common/recommend.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
    <input type="hidden" name='currentPage' id="currentPage" value="1" />
    <%include ./header.html%>
    <%include ./header4Luis.html%>

    <!-- css는 recommend.css 에 만들었습니다 -->
    <div id="wrap4Luis">
        <div id="container" class="main">
            <div id="headerDiv1">
                <select id="recommendPeriod" class="timeSelect">
                    <option value="yesterday" selected><%= __('Yesterday') %></option>
                    <option value="lastWeek"><%= __('Last week') %></option>
                    <option value="lastMonth"><%= __('Last month') %></option>
                    <option value="all"><%= __('All') %></option>
                </select>
                <button class="btn_delete" onclick="deleteRecommend()" disabled>
                    <span class="span_delete" style="white-space : nowrap;"><%= __('DELETE') %></span>
                </button>
            </div>
            <br/>
            <table class="Tbl" id="sampleTable">
                <thead>
                    <tr>
                        <th class="txt_left" style="width: 3%;"><input type="checkbox" class="tweak-input" id="recommendAll" name="recommendAll"/></th>
                        <th class="txt_left" colspan="3"><%= __('Learning recommendation sentence') %><span></span></th>
                        <th class="txt_center"><%= __('Registration Date') %><span></span> </th>
                       <!-- <th class="txt_right02"></th> -->
                    </tr>
                </thead>
                <tbody id="recommendContents">
                </tbody>
            </table> 
            <div id="pagination">
            </div>
        </div>
    </div>
        <hr>
        <footer>
            <p>&copy; Company 2014</p>
        </footer>
	<!-- /container -->
    </div>
</body>

</html>