<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
        <!--<%= title %>title-->
        TIIS Manager
    </title>

	<!-- 
        <link rel="stylesheet" href="./common/css/css_common.html" />
        -->
    
        <link rel="stylesheet" type="text/css" href="/css/recommend.css" />   
    <%include  ./common/commonUse.html%>
    
    <!--    
    <style type="text/css">
        .appLayout { position:absolute; display:none; background-color:#ffffff; border:solid 2px gray; width:150px; height:120px; padding:10px; } 

    </style>
    -->

    
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> test-->
</head>

<body class="main">
	
    <!--<link rel="import" href="./header.html">    -->
    <%include  ./header.html%>

    <div id="wrap">
        <div id="container" class="main">
            <h3>추가학습 추천 문장</h3>
            <select name="">
                <option value=""></option>
            </select>
            <button class="deleteBtn">
                <span>
                    <!-- 휴지통 이미지 자리입니다.
                        <img src=""/>
                    -->
                </span>
                delete
            </button>
            <table>
                <tr>
                    <td class=""></td>
                    <td class=""></td>
                    <td class=""></td>
                    <td class=""></td>
                </tr>
            </table>         
        </div>
    </div>
        <hr>
        <footer>
            <p>&copy; Company 2014</p>
        </footer>
	<!-- /container -->
    
</body>

    
    
</html>