<!DOCTYPE html>
<html>

<head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/css/setting.css' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
        TIIS Manager
        </title>
        <%include  ./common/commonUse.html%>
        <link rel="stylesheet" type="text/css" href="/css/learning.css" />
        <script type="text/javascript" src="/js/common/learning.js"></script>
</head>

<body class="main">
    <%include  ./header.html%>
    <div id="setting-wrap">
        <%include  ./settingLeftMenu.html%>
        <div class="setting-contents blue">
            <div class="title">
                공통코드관리
            </div>
            <div class="settingSearch">
                <form id="frm" name="frm" method="post">
                    <input type="text" name="dummy" id="dummy" value="" style="display:none;"/>
                    <div class="tbl_area_l"  style="width:62%; " >
                        <span class="optit ml15"> 사용자 명:</span>
                        <div class="search_inbox" style="width:30%;" >
                            <input type="text" name="searchEmpNm" id="searchEmpNm" class="inbox_search" style="width:90%;" title="<spring:message code='검색어입력'/>" alt="<spring:message code='검색어입력'/>" value="">
                        </div>
                        <span class="optit ml15"> 사용자ID:</span>
                        <div class="search_inbox" style="width:30%;">
                            <input type="text" name="searchUserId" id="searchUserId" class="inbox_search" style="width:90%;" title="<spring:message code='검색어입력'/>" alt="<spring:message code='검색어입력'/>" value="">
                            <a href="#" id="btn_Inq_search" name="btn_Inq_search" alt="검색" value="검색" onclick="doSearchParam()" class="btn_insearch"><span class="hc">검색</span></a>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tbl_area gridw" >
                    <div class="tbl_area_l"  style="width:49%" >
                        <p class="grid_tit">사용자목록</p>
                        <div class="grid_wrap">
                            <!-- 사용자목록 그리드 넣는곳 -->
                            <table id="gridList" class="scroll"></table>
                            <div id="pager" class="scroll" style="text-align:center;"></div>
                        </div>
                    </div>

                    <div class="tbl_area_r" style="width:49%; ">
                        <div class="tbl_area_l" style="width:38%; ">
                            <p class="grid_tit" style="text-align:left">사용자권한</p>
                        </div>
                        <div class="tbl_area_r">   <!-- style="width:20%;" -->
                           <a href="#" class="btn" id="btn_crte_insert" name="btn_crte_insert" alt="추가" value="추가" onclick="scrnSearchPopu();">추가</a>
                           <a href="#" class="btn" id="btn_crte_delete" name="btn_crte_delete" alt="삭제" value="삭제" onclick="deleteAction();">삭제</a>
                           <a href="#" class="btn" id="btn_crte_save" name="btn_crte_save" alt="저장" value="저장" onclick="saveAction();">저장</a>
                           <a href="#" class="btn" id="btn_crte_restore" name="btn_crte_restore" alt="초기화" value="초기화" onclick="restoreGridAction();">초기화</a>
                           <!-- TODO : 삭제 jys 2017.06.28
                           <a href}="#" class="btn" id="btn_exl_dwl" name="btn_exl_dwl" alt="Data엑셀다운로드" value="Data엑셀다운로드">Data엑셀다운로드</a> -->
                           </div>
                            <div class="grid_wrap">
                                <!-- 사용자권한그리드 넣는곳 -->
                                <table id="gridUserAuthList" class="scroll"></table>
                                <div id="pagerAuth" class="scroll" style="text-align:center;"></div>
                           </div>
                    </div>
               </div>

            <hr>
            <footer>
                <p>&copy; Company 2014</p>
            </footer>
        </div>
    </div>
    
    
</body>

    
    
</html>