<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/css/utterances.css' />
	<link rel='stylesheet' href='/css/botchat.css' />
    <link rel='stylesheet' href='/css/style.css' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
        TIIS Manager
    </title>

    <%include  ./common/commonUse.html%>
    <script type="text/javascript" src="/js/common/utterances.js"></script>
    <script type="text/javascript" src="/js/common/botchat.js"></script>
</head>

<body class="main">
	<input type="hidden" name="utterence" id="utterence" value='<%=utterance%>'/>

    <%include  ./header.html%>
    <%include  ./header4Luis.html%>
    <div id="wrap4Luis">
        <div id="container" class="main">


            <div class="subt_wrap">
                <div id="subtitDiv" style="float:right; margin: 0 30px 0 0;">
                    <button class="btn" id="entities" onclick="openModalEntity('#create_entity')"><%= __('Add_Entity') %></button>
                    <button class="btn disable" id="utterLearn"  disabled="disabled"><%= __('LEARN') %></button>
                </div>
            </div>

            <div id="utterDiv">
                <div class="utterLeft">

                    
                    <div class="in-line">
                        <input name="iptUtterance" id="iptUtterance" type="text" class="inbox02" style="width:99.3%; margin: 3px;" placeholder="<%= __('Input sentence') %>" >
                        <!--<button class="btn disable" id="utterDelete" disabled="disabled">delete</button>-->
                        <!--<button class="btn disable" id="utterLearn"  disabled="disabled">learn</button>-->
                        
                    </div>                                            

                    <!-- 어터런스 list 출력 div -->
                    <div id="utterListDiv" style="border: 1px solid #858483 !important; height : 440px; margin:15px 0 0 0;">
                        <div class="Tbl_wrap">
                            <table class="Tbl" id="entityUtteranceTextTable" summary="의도설정">
                                <caption>product list
                                    <form action="" id="dlgSetRows">
                                        <input type="hidden" name="dlgRowPerPage" value="6">
                                    </form>
                                </caption>
                                <colgroup><col width="7%" ><col width="86%" ><col width="7%" ></colgroup>
                                <thead>
                                    <tr>
                                        <th><input name="ch1All" class="tweak-input" id="allCheck" type="checkbox"/></th>
                                        <th class="txt_left"><%= __('UTTERANCE') %></th>
                                        <th class="txt_right"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>

                        <!-- 페이징 -->
                        <div class="paginate"  id="paginationInfo">

                        </div>
                    </div>

                    <div id="recommendationDiv" >
                        <div style=" margin:30px 0 0 0;  ">
                            <h3 ><%= __('A recommendation') %></h3>
                        </div>
                        <!-- 추천문장 리스트 출력 div -->
                        <div style="border: 1px solid #858483 !important; height : 300px; padding:10px; margin:10px 0 0 0;">

                        </div>

                        <!-- 페이징 -->
                        <div class="paginate"  id="paginationInfo">

                        </div>
                    </div>
                    

                    
                </div>

                <div class="utterRight" >
                    <div style="width:100%">
                        <h3 style="float:left;"><%= __('Dialogue') %></h3>
                        <button class="btn" style="float:right;" id="recommandDlgBtn" onclick="openModalBox('#create_dlg')"><%= __('CREAT') %></button>  <!-- disabled="disabled" -->
                        <button class="btn" style="float:right;" id="searchDlgBtn" onclick="openModalBox('#search_dlg')"><%= __('Search') %></button>  <!-- disabled="disabled" -->
                    </div>
                    <!-- 추천 다이얼로그 list 출력 div -->
                    <div class="utterList">

                        <div class="Tbl_wrap">
                            <table class="Tbl" id="dlgListTable" summary="다이얼로그">
                                <colgroup><col width="7%" ><col width="85%" ></colgroup>
                                <tbody>
                                    <tr>
                                        <td style="padding-bottom: 580px">
                                            <input name="dlgChk" class="tweak-input" type="checkbox" onclick="" />
                                        </td>
                                        <td>
                                            <div id="dialogRecommand" style="float: left; width: 95%; overflow: auto; margin: 0px 0px 0px 10px; border: 1px solid rgb(204, 204, 204); background: rgb(241, 243, 246); padding: 5px; height: 593px;">                                            
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- 페이징 -->
                        <div class="paginate"  id="paginationInfo">

                        </div>

                    </div>

                    <!-- 페이징 -->
                    <div class="paginate"  id="paginationInfo">

                    </div>
                </div>
            </div>

        </div>
    </div>

    <hr>
    <footer>
        <p>&copy; Company 2014</p>
    </footer>
    



    <!--신규 다이얼로그 등록 -->
    <div id="create_dlg" class="modal_box w900" style="height: auto !important">
        <header> <a href="#" id="addDialogClose" class="js-modal-close close" onclick="return false;">×</a>
          <h3>Create new Dialogue Set</h3><!-- 신규 다이얼로그 등록 -->
        </header>
    
        <!-- form start -->
        <form name="appInsertForm" id="appInsertForm" method="post">
    
        <div id="dialogSet" class="modal-body" style="float:left; width: 50%;">
            <p class="texcon03">Group <span>(required) </span></p>
            <div class="group-float-left">
                <div class="group-float-left" style="width: 45%">
                    <p class="texcon03">A big group</p>
                </div>
                <div class="group-float-left-last">
                    <a href="#" class="btn b02  btn-small" id="btnCreateLgroup" style="padding:0 5px 0 5px; height:20px; line-height:15px; margin:6px 0 0 65px;">new</a>
                </div>
                <p>
                    <select name="largeGroup" class="inbox02" id="largeGroup" style="width:100%;">
                        <option value="" selected>largeGroup1</option>
                        <option value="">largeGroup2</option>
                        <option value="">largeGroup3</option>
                    </select>
                    <input type="text" name="largeGroupEdit" id="largeGroupEdit" class="inbox02" style="width:100%; display:none;"/>
                </p>
            </div>
            <div class="group-float-left">
                <p class="texcon03">Source Type <span>(required) </span></p>
                <p><select name="sourceType" class="inbox02" id="sourceType" style="width:100%" >
                    <option value="COMMON" selected>COMMON</option>
                    <option value="API">API</option>
                </select>
            </p>
            </div>

            <div class="clear-both"></div>
            <p class="texcon03">Description  <span>(required) </span></p>
            <p><textarea name="description" id="description" cols="" rows="3" style="width:100%; resize:none;" placeholder="Input text.." onkeyup=""></textarea></p>
        
        </form>

            <div id="commonLayout">
                <div class="insertFormWrap" style="overflow-y:scroll; overflow-x:hidden; height:400px;">
                    <div class="insertForm" style="border-bottom:1px solid rgb(43, 111, 189);">
                        <form name="dialogLayout" id="dialogLayout">
                        <p class="texcon03">Dialogue Type <span>(required) </span></p>
                        <p><select name="dlgType" class="inbox02" id="dlgType" style="width:95%" >
                            <option value="2" selected>Text</option>
                            <option value="3">Carousel</option>
                            <option value="4">Media</option>
                        </select></p>
                        <div class="clear-both"></div>

                        
                        </form>
                    </div>

                    <div id="textLayout" style="display:none;">
                        <p class="texcon03">Dialogue Title <span>(required) </span></p>
                        <p><input name="dialogTitle" type="text" class="inbox02" id="imgUrl" style="width:95%" placeholder="Input image url.." onkeyup="writeDialogTitle(this);" /></p>

                        <p class="texcon03">Dialogue Text  <span>(required) </span></p>
                        <p><textarea name="dialogText" id="dialogText" cols="" rows="2" style="width:95%; resize:none;" placeholder="Input text.." onkeyup="writeDialog(this);" onkeyup="dialogValidation('dialogInsert');"></textarea></p>
                    </div>

                    <div id="carouselLayout" style="display:none;">
                        <p class="texcon03">Image Url <span>(required) </span></p>
                        <p><input name="imgUrl" type="text" class="inbox02"  style="width:95%" placeholder="Input image url.." onkeyup="writeCarouselImg(this);" /></p><!--id="imgUrl"-->

                        <div class="layout-float-left" style="width:20%;">
                            <p class="texcon03">Btn Type </p>
                            <p>
                                <select name="btn1Type" class="inbox02" id="btn1Type" style="width:100%; height: 37px !important; margin: 1.5px 0 1.5px 0;" >
                                    <option value="imBack" selected>imBack</option>
                                    <option value="openURL">openURL</option>
                                </select>
                                <select name="btn2Type" class="inbox02" id="btn2Type" style="width:100%; height: 37px !important; margin: 1.5px 0 1.5px 0;; display:none" >
                                    <option value="imBack" selected>imBack</option>
                                    <option value="openURL">openURL</option>
                                </select>
                                <select name="btn3Type" class="inbox02" id="btn3Type" style="width:100%; height: 37px !important; margin: 1.5px 0 1.5px 0;; display:none" >
                                    <option value="imBack" selected>imBack</option>
                                    <option value="openURL">openURL</option>
                                </select>
                                <select name="btn4Type" class="inbox02" id="btn4Type" style="width:100%; height: 37px !important; margin: 1.5px 0 1.5px 0;; display:none" >
                                    <option value="imBack" selected>imBack</option>
                                    <option value="openURL">openURL</option>
                                </select>
                            </p>
                            <p>
                                <a href="#" class="btn" style="margin:2px 0 5px 0; padding: 0 18px 0 19px;" name="carouseBtn"> Add Btn </a>
                            </p>
                        </div>
                        <div class="layout-float-left">
                            <p class="texcon03">Btn Name <span>(optional) </span></p>
                            <p>
                                <input name="cButtonName1" type="text" class="inbox02 btnBox" style="width:95%;" placeholder="Input name.." />
                                <input name="cButtonName2" type="text" class="inbox02 btnBox" style="width:95%; display:none;" placeholder="Input name.." />
                                <input name="cButtonName3" type="text" class="inbox02 btnBox" style="width:95%; display:none;" placeholder="Input name.." />
                                <input name="cButtonName4" type="text" class="inbox02 btnBox" style="width:95%; display:none;" placeholder="Input name.." />
                            </p>
                        </div>
                        <div class="layout-float-left-last">
                            <p class="texcon03">Btn Content <span>(optional) </span></p>
                            <p>
                                <input name="cButtonContent1" type="text" class="inbox02 btnBox" style="width:95%;" placeholder="Input contents.." />
                                <input name="cButtonContent2" type="text" class="inbox02 btnBox" style="width:95%; display:none;" placeholder="Input contents.." />
                                <input name="cButtonContent3" type="text" class="inbox02 btnBox" style="width:95%; display:none;" placeholder="Input contents.." />
                                <input name="cButtonContent4" type="text" class="inbox02 btnBox" style="width:95%; display:none;" placeholder="Input contents.." />
                            </p>
                        </div>
                        <div class="layout-float-left" style="float: right;">
                            <p class="texcon03" style="margin-left: 36px;">Carousel Add</p>
                            <p style="margin-left: 75px;"><a href="#" class="btn" style="margin:2px 0 5px 0;" name="addCarouselBtn">Add</a></p>
                        </div>
                        <div class="clear-both"></div>
                    </div>

                    <div id="mediaLayout" style="display:none;">
                        <p class="texcon03">Image Url <span>(optional) </span></p>
                        <p><input name="imgUrl" type="text" class="inbox02" id="imgUrl" style="width:95%;" placeholder="Input image url.." /></p>

                        <p class="texcon03">Media Url <span>(optional) </span></p>
                        <p><input name="mediaUrl" type="text" class="inbox02" id="mediaUrl" style="width:95%;" placeholder="Input media url.." /></p>

                        <div class="layout-float-left" style="width: 40%">
                            <p class="texcon03">Button Name <span>(optional) </span></p>
                            <p> 
                                <input name="mButtonName1" type="text" class="inbox02 btnBox mediaBtnName" id="buttonName1" style="width:95%;" placeholder="Input name.." />
                                <input name="mButtonName2" type="text" class="inbox02 btnBox mediaBtnName" id="buttonName2" style="width:95%; display:none;" placeholder="Input name.." />
                                <input name="mButtonName3" type="text" class="inbox02 btnBox mediaBtnName" id="buttonName3" style="width:95%; display:none;" placeholder="Input name.." />
                                <input name="mButtonName4" type="text" class="inbox02 btnBox mediaBtnName" id="buttonName4" style="width:95%; display:none;" placeholder="Input name.." />
                            </p>
                        </div>
                        <div class="layout-float-left-last">
                            <p class="texcon03">Button Content <span>(optional) </span></p>
                            <p>
                                <input name="mButtonContent1" type="text" class="inbox02 btnBox mediaBtnContent" id="mButtonContent1" style="width:95%" placeholder="Input contents.." />
                                <input name="mButtonContent2" type="text" class="inbox02 btnBox mediaBtnContent" id="mButtonContent2" style="width:95%; display:none;" placeholder="Input contents.." />
                                <input name="mButtonContent3" type="text" class="inbox02 btnBox mediaBtnContent" id="mButtonContent3" style="width:95%; display:none;" placeholder="Input contents.." />
                                <input name="mButtonContent4" type="text" class="inbox02 btnBox mediaBtnContent" id="mButtonContent4" style="width:95%; display:none;" placeholder="Input contents.." />
                            </p>
                        </div>
                        <div class="clear-both"></div>
                        <div class="layout-float-left" >
                                <a href="#" class="btn" style="margin:2px 0 5px 0; padding: 0 18px 0 19px;" name="addMediaBtn"> AddButton </a>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    
                    <!-- carousal 일 경우 card 순서 input box 추가 layout -->
                    <div id="cardLayout" style="display:none;">
                        <p class="texcon03">Card Order <span>(required) </span></p>
                        <p><select name="cardOrderNo" class="inbox02" id="cardOrderNo" style="width:100%" >
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select></p>
                    </div>

                    <!-- media , carousal 일 경우 input box 추가 layout -->
                    <div id="mediaCarouselLayout" style="display:none;">
                        <div class="layout-float-left">
                            <p class="texcon03">Button Name <span>(optional) </span></p>
                            <p>
                                <input name="buttonName1" type="text" class="inbox02 btnBox" id="buttonName1" placeholder="Input name.." />
                                <input name="buttonName2" type="text" class="inbox02 btnBox" id="buttonName2" placeholder="Input name.." />
                                <input name="buttonName3" type="text" class="inbox02 btnBox" id="buttonName3" placeholder="Input name.." />
                                <input name="buttonName4" type="text" class="inbox02 btnBox" id="buttonName4" placeholder="Input name.." />
                            </p>
                        </div>
                        <div class="layout-float-left-last">
                            <p class="texcon03">Button Content <span>(optional) </span></p>
                            <p>
                                <input name="buttonContent1" type="text" class="inbox02 btnBox" id="buttonContent1" placeholder="Input contents.." />
                                <input name="buttonContent2" type="text" class="inbox02 btnBox" id="buttonContent2" placeholder="Input contents.." />
                                <input name="buttonContent3" type="text" class="inbox02 btnBox" id="buttonContent3" placeholder="Input contents.." />
                                <input name="buttonContent4" type="text" class="inbox02 btnBox" id="buttonContent4" placeholder="Input contents.." />
                            </p>
                        </div>
                        <div class="clear-both"></div>

                        <p class="texcon03">Image Url <span>(optional) </span></p>
                        <p><input name="imgUrl" type="text" class="inbox02" id="imgUrl" style="width:100%" placeholder="Input image url.." /></p>
                    </div>
                    <!--// media , carousal 일 경우 input box 추가 layout -->

                    <div class="layout-float-left">
                        <p class="texcon03">Dialogue Add</p>
                        <p><button class="btn margin0 w82" id="addDialogBtn">Add</button></p>
                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>


            <div id="apiLayout" style="display:none;">
                <p class="texcon03">API Name<span>(optional) </span></p>
                <p><input type="text" name="apiName" id="apiName" class="inbox02" style="width:100%"/></p>
                <p class="texcon03">API Url <span>(optional) </span></p>
                <p><input type="text" name="apiUrl" id="apiUrl" class="inbox02" style="width:100%"/></p>
            </div>
            
        </div>
    	<div id="dialogPreview" style="float:left; width: 47%; overflow: auto; margin:0 0 0 10px; border: 1px solid #ccc; background: #f1f3f6; padding: 5px;">
            <div class="dialogView">
                <div class="wc-message wc-message-from-bot" style="width:80%;">
                    <div class="wc-message-content">
                        <svg class="wc-message-callout"></svg>
                        <div>
                            <div class="format-markdown">
                                <div class="textMent">
                                    <p>
                                        <%= __('Please_enter') %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear-both"></div>
        
        <!-- form end -->
    
        <footer>
          <a href="#" class="btn" id="btnAddDlg" onclick="createDialog(); return false;">Create</a>
          <a href="#" class="btn b02  btn-small js-modal-close" id="addDialogCancel" onclick="return false;">Cancel</a>
        </footer>
    
    </div>
    <!--//신규 다이얼로그 등록 -->

    <div id="layoutBackground" ></div>
    <div class="mask"></div>  

    <!--추천 다이얼로그 조회중인 어터런스 id -->
    <input type="hidden" id="selectedUtterId" value="" />

    <!-- Search 다이얼로그 -->
    <div id="search_dlg" class="modal_box w900" style="height: auto !important">
        <header> <a href="#" id="searchDialogClose" class="js-modal-close close" onclick="return false;">×</a>
          <h3><%= __('Search_Dialogue') %></h3>
        </header>
        <div class="modal-body" style="float:left; width:100%;">
            <form name="searchForm" id="searchForm" method="post" onsubmit="return false">
                <div class="searchGroup-float-left" style="width:25%">
                    <p class="texcon03"><%= __('Search word') %></p>
                    <input type="text" name="serachDlg"  style="width:100%;"/>
                </div>
                <div class="searchGroup-float-left">
                    <p class="texcon03"><%= __('A big group') %></p>
                    <p><select name="searchLargeGroup" class="inbox02" id="searchLargeGroup" style="width: 100%;" >
                        <option value="" selected>largeGroup</option>
                    </select></p>
                </div>
                <div class="searchGroup-float-left">
                    <p class="texcon03"><%= __('Middle group') %></p>
                    <p><select name="searchMediumGroup" class="inbox02" id="searchMediumGroup" style="width: 100%;" >
                        <option value="" selected>mediumGroup</option>
                    </select></p>
                </div>
                <div class="searchGroup-float-left">
                    <p class="texcon03"><%= __('Small group') %></p>
                    <p><select name="searchSmallGroup" class="inbox02" id="searchSmallGroup" style="width: 100%;" >
                        <option value="" selected>smallGroup</option>
                    </select></p>
                </div>
            </form>
                <div class="searchGroup-float-left">
                    <p class="texcon03">&nbsp;</p>
                    <p><button class="btn margin0 w82" id="searchDialogBtn"><%= __('SEARCH') %></button></p>
                </div>
            
        </div>
        <div class="clear-both"></div>
        <div style="border: 1px solid #858483 !important; height : 400px; margin:15px 0 0 0;">        
            <div class="Tbl_wrap" style="width: 900px; height: 100%; overflow: scroll; overflow-y: hidden; ">
                <div id="searchDlgResultDiv" style="width: max-content; height: 100%;">
                
                </div>
            </div>     
        </div>
        <div class="clear-both"></div>
        <footer>
            <button class="btn" id="btnSearchSaveDlg" onclick="selectDialog()"/><%= __('SELECT') %></button><!-- 혹시 몰라서 searchSaveDialog() 함수는 주석처리 해서 살려두었습니다.-->
            <a href="#" class="btn b02  btn-small js-modal-close" id="searchDialogCancel" onclick="return false;"><%= __('CANCEL') %></a>
        </footer>
    </div>


    <!--신규 엔티티 등록 -->
    <div id="create_entity" class="modal_box w900" style="height: auto !important; width: 30%;">
            <header> <a href="#" id="addEntityClose" class="js-modal-close close" onclick="return false;">×</a>
              <h3><%= __('Create_new_Entity_Set') %></h3><!-- 신규 엔티티 등록 -->
            </header>
        
            <!-- form start -->
            <form name="entityInsertForm" id="entityInsertForm" method="post">
        
            <div id="dialogSet" class="modal-body" style="margin: 10%;">
                <p class="texcon03"><%= __('Entity definition') %><span>(<%= __('required') %>) </span></p>
                <p style="margin-bottom: 5%;">
                    <input type="text" name="entityDefine" id="entityDefine" style="width:100%;""/>
                </p>
    
                <p class="texcon03"><%= __('Entity value') %><span>(<%= __('required') %>) </span></p>
                <p style="margin-bottom: 5%;">
                    <input type="text" name="entityValue" id="entityValue" style="width:100%;""/>
                </p>
    
                <p class="texcon03">API_Group <span>(<%= __('required') %>) </span></p>
                <p><select name="apiGroup" class="inbox02" id="apiGroup" style="width: 100%;" >
                    <option value="api testdrive" selected>api testdrive</option>
                    <option value="COMMON">COMMON</option>
                </select></p>
    
            </div>
    
            </form>
            <!-- form end -->
        
            <footer>
                <button class="btn disable" disabled="disabled" id="btnAddEntity" onclick="insertEntity()"><%= __('SAVE') %></button>
                <a href="#" class="btn b02  btn-small js-modal-close" id="addEntityCancel" onclick="return false;"><%= __('CANCEL') %></a>
            </footer>
        
        </div>
        <!--//신규 엔티티 등록 -->
</body>

    
    
</html>