<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/css/utterances.css' />
	<link rel='stylesheet' href='/css/botchat.css' />
    <link rel='stylesheet' href='/css/style.css' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
        <!--<%= title %>title-->
        TIIS Manager
    </title>
    
    <%include  ./common/commonUse.html%>
    <script type="text/javascript" src="/js/common/utterances.js"></script>
    <script type="text/javascript" src="/js/common/botchat.js"></script>
    
    <script>
    var $setRows = $('#setRows');

$setRows.submit(function (e) {
	e.preventDefault();
	var rowPerPage = $('[name="rowPerPage"]').val() * 1;// 1 을  곱하여 문자열을 숫자형로 변환

//		console.log(typeof rowPerPage);

	var zeroWarning = 'Sorry, but we cat\'t display "0" rows page. + \nPlease try again.'
	if (!rowPerPage) {
		alert(zeroWarning);
		return;
	}
	$('#nav').remove();
	var $products = $('#searchListTbl');

	$products.after('<div id="nav">');


	var $tr = $($products).find('tbody tr');
	var rowTotals = $tr.length;
//	console.log(rowTotals);

	var pageTotal = Math.ceil(rowTotals/ rowPerPage);
	var i = 0;

	for (; i < pageTotal; i++) {
		$('<a href="#"></a>')
				.attr('rel', i)
				.html(i + 1)
				.appendTo('#nav');
	}

	$tr.addClass('off-screen')
			.slice(0, rowPerPage)
			.removeClass('off-screen');

	var $pagingLink = $('#nav a');
	$pagingLink.on('click', function (evt) {
		evt.preventDefault();
		var $this = $(this);
		if ($this.hasClass('active')) {
			return;
		}
		$pagingLink.removeClass('active');
		$this.addClass('active');

		// 0 => 0(0*4), 4(0*4+4)
		// 1 => 4(1*4), 8(1*4+4)
		// 2 => 8(2*4), 12(2*4+4)
		// 시작 행 = 페이지 번호 * 페이지당 행수
		// 끝 행 = 시작 행 + 페이지당 행수

		var currPage = $this.attr('rel');
		var startItem = currPage * rowPerPage;
		var endItem = startItem + rowPerPage;

		$tr.css('opacity', '0.0')
				.addClass('off-screen')
				.slice(startItem, endItem)
				.removeClass('off-screen')
				.animate({opacity: 1}, 300);

	});

	$pagingLink.filter(':first').addClass('active');

});


$setRows.submit();
    
    </script>
</head>

<body class="main">
	<input type="hidden" name="utterence" id="utterence" value='<%=utterance%>'/>

    <%include  ./header.html%>
    <%include  ./header4Luis.html%>
    <div id="wrap4Luis">
        <div id="container" class="main">


            <div class="subt_wrap">
                <div id="subtitDiv"><h2><%= title %></h2></div>
            </div>

            <div id="utterDiv">
                <div class="utterLeft">

                    
                    <div class="in-line">
                        <input name="iptUtterance" id="iptUtterance" type="text" class="inbox02" style="width:70%; margin: 3px;" placeholder="입력문장" >
                        <button class="btn disable" id="utterDelete" disabled="disabled">delete</button>
                        <button class="btn disable" id="utterLearn"  disabled="disabled">learn</button>
                        
                    </div>                                            

                    <!-- 어터런스 list 출력 div -->
                    <div id="utterListDiv" style="border: 1px solid #858483 !important; height : 440px; margin:15px 0 0 0;">
                        <div class="Tbl_wrap">
                            <table class="Tbl" id="entityUtteranceTextTable" summary="의도설정">
                                <colgroup><col width="7%" ><col width="93%" ></colgroup>
                                <thead>
                                    <tr>
                                        <th><input name="ch1All" class="tweak-input" id="allCheck" type="checkbox"/></th>
                                        <th class="txt_left">Utterance</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>

                        <!-- 페이징 -->
                        <div class="paginate"  id="paginationInfo">

                        </div>
                    </div>

                    <div id="recommendationDiv" >
                        <div style=" margin:30px 0 0 0;  ">
                            <h3 >추천문장</h3>
                        </div>
                        <!-- 추천문장 리스트 출력 div -->
                        <div style="border: 1px solid #858483 !important; height : 300px; padding:10px; margin:10px 0 0 0;">

                        </div>

                        <!-- 페이징 -->
                        <div class="paginate"  id="paginationInfo">

                        </div>
                    </div>
                    

                    
                </div>

                <div class="utterRight" >
                    <div style="width:100%">
                        <h3 style="float:left;">다이얼로그</h3>
                        <button class="btn" style="float:right;" id="recommandDlgBtn" onclick="openModalBox('#create_dlg')">create</button>  <!-- disabled="disabled" -->
                        <button class="btn" style="float:right;" id="searchDlgBtn" onclick="openModalBox('#search_dlg')">Search</button>  <!-- disabled="disabled" -->
                    </div>
                    <!-- 추천 다이얼로그 list 출력 div -->
                    <div class="utterList">

                        <div class="Tbl_wrap">
                            <table class="Tbl" id="dlgListTable" summary="다이얼로그">
                                <colgroup><col width="7%" ><col width="85%" ></colgroup>
                                <tbody>
                                    <tr>
                                        <td style="padding-bottom: 580px">
                                            <input name="dlgChk" class="tweak-input" type="checkbox" onclick="" />
                                        </td>
                                        <td>
                                            <div id="dialogRecommand" style="float: left; width: 95%; overflow: auto; margin: 0px 0px 0px 10px; border: 1px solid rgb(204, 204, 204); background: rgb(241, 243, 246); padding: 5px; height: 593px;">                                            
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- 페이징 -->
                        <div class="paginate"  id="paginationInfo">

                        </div>

                    </div>

                    <!-- 페이징 -->
                    <div class="paginate"  id="paginationInfo">

                    </div>
                </div>
            </div>

        </div>
    </div>

    <hr>
    <footer>
        <p>&copy; Company 2014</p>
    </footer>
    



    <!--신규 다이얼로그 등록 -->
    <div id="create_dlg" class="modal_box w900" style="height: auto !important">
        <header> <a href="#" id="addDialogClose" class="js-modal-close close">×</a>
          <h3>Create new Dialogue Set</h3><!-- 신규 다이얼로그 등록 -->
        </header>
    
        <!-- form start -->
        <form name="appInsertForm" id="appInsertForm" method="post">
    
        <div id="dialogSet" class="modal-body" style="float:left; width: 50%;">
            <p class="texcon03">Group <span>(required) </span></p>
            <div class="group-float-left">
                <p class="texcon03">대그룹</p>
                <p><select name="largeGroup" class="inbox02" id="largeGroup" style="width: 100%;" >
                    <option value="" selected>largeGroup1</option>
                    <option value="">largeGroup2</option>
                    <option value="">largeGroup3</option>
                </select></p>
            </div>
            <div class="group-float-left">
                <p class="texcon03">중그룹</p>
                <p><select name="mediumGroup" class="inbox02" id="mediumGroup" style="width: 100%;" >
                    <option value="" selected>mediumGroup1</option>
                    <option value="">mediumGroup2</option>
                    <option value="">mediumGroup3</option>
                </select></p>
            </div>
            <div class="group-float-left-last">
                <p class="texcon03">소그룹</p>
                <p><select name="smallGroup" class="inbox02" id="smallGroup" style="width: 100%;" >
                    <option value="" selected>smallGroup1</option>
                    <option value="">smallGroup2</option>
                    <option value="">smallGroup3</option>
                </select></p>
            </div>
            <div class="clear-both"></div>

            <p class="texcon03">Description  <span>(optional) </span></p>
            <p><textarea name="description" id="description" cols="" rows="3" style="width:100%; resize:none;" placeholder="Input text.." onkeyup=""></textarea></p>

            <div class="layout-float-left">
                <p class="texcon03">Dialogue Type <span>(required) </span></p>
                <p><select name="dlgType" class="inbox02" id="dlgType" style="width:100%" >
                    <option value="2" selected>Text</option>
                    <option value="3">Carousel</option>
                    <option value="4">Media</option>
                </select></p>
            </div>
            <div class="layout-float-left-last">
                <p class="texcon03">Dialogue Order <span>(required) </span></p>
                <p><select name="dialogOrderNo" class="inbox02" id="dialogOrderNo" style="width:100%" >
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select></p>
            </div>
            <div class="clear-both"></div>

            <p class="texcon03">Dialogue Text  <span>(required) </span></p>
            <p><textarea name="dialogText" id="dialogText" cols="" rows="3" style="width:100%; resize:none;" placeholder="Input text.." onkeyup="dialogValidation('dialogInsert');"></textarea></p>
            
            <!-- carousal 일 경우 card 순서 input box 추가 layout -->
            <div id="cardLayout" style="display:none;">
                <p class="texcon03">Card Order <span>(required) </span></p>
                <p><select name="cardOrderNo" class="inbox02" id="cardOrderNo" style="width:100%" >
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select></p>
            </div>

            <!-- media , carousal 일 경우 input box 추가 layout -->
            <div id="mediaCarouselLayout" style="display:none;">
                <div class="layout-float-left">
                    <p class="texcon03">Button Name <span>(optional) </span></p>
                    <p>
                        <input name="buttonName1" type="text" class="inbox02 btnBox" id="buttonName1" placeholder="Input name.." />
                        <input name="buttonName2" type="text" class="inbox02 btnBox" id="buttonName2" placeholder="Input name.." />
                        <input name="buttonName3" type="text" class="inbox02 btnBox" id="buttonName3" placeholder="Input name.." />
                        <input name="buttonName4" type="text" class="inbox02 btnBox" id="buttonName4" placeholder="Input name.." />
                    </p>
                </div>
                <div class="layout-float-left-last">
                    <p class="texcon03">Button Content <span>(optional) </span></p>
                    <p>
                        <input name="buttonContent1" type="text" class="inbox02 btnBox" id="buttonContent1" placeholder="Input contents.." />
                        <input name="buttonContent2" type="text" class="inbox02 btnBox" id="buttonContent2" placeholder="Input contents.." />
                        <input name="buttonContent3" type="text" class="inbox02 btnBox" id="buttonContent3" placeholder="Input contents.." />
                        <input name="buttonContent4" type="text" class="inbox02 btnBox" id="buttonContent4" placeholder="Input contents.." />
                    </p>
                </div>
                <div class="clear-both"></div>

                <p class="texcon03">Image Url <span>(optional) </span></p>
                <p><input name="imgUrl" type="text" class="inbox02" id="imgUrl" style="width:100%" placeholder="Input image url.." /></p>
            </div>
            <!--// media , carousal 일 경우 input box 추가 layout -->

            <div class="layout-float-left">
                <p class="texcon03">Dialogue Add</p>
                <p><button class="btn margin0 w82" id="addDialogBtn">Add</button></p>
            </div>
            <div class="clear-both"></div>
            
        </div>
    	<div id="dialogPreview" style="float:left; width: 47%; overflow: auto; margin:0 0 0 10px; border: 1px solid #ccc; background: #f1f3f6; padding: 5px;">
        </div>
        <div class="clear-both"></div>
        </form>
        <!-- form end -->
    
        <footer>
          <button class="btn disable" id="btnAddDlg" onclick="insertDialog()">Save</button>
          <a href="#" class="btn b02  btn-small js-modal-close" id="addDialogCancel">Cancel</a>
        </footer>
    
    </div>
    <!--//신규 다이얼로그 등록 -->

    <div id="layoutBackground" ></div>
    <div class="mask"></div>  

    <!--추천 다이얼로그 조회중인 어터런스 id -->
    <input type="hidden" id="selectedUtterId" value="" />

    <!-- Search 다이얼로그 -->
    <div id="search_dlg" class="modal_box w900" style="height: auto !important">
        <header> <a href="#" id="addDialogClose" class="js-modal-close close">×</a>
          <h3>Search Dialogue</h3>
        </header>
        <div class="modal-body" style="float:left; width:100%;">
            <form name="searchForm" id="searchForm" method="post">
                <div class="searchGroup-float-left" style="width:25%">
                    <p class="texcon03">검색어</p>
                    <input type="text" name="serachDlg" style="width:100%;"/>
                </div>
                <div class="searchGroup-float-left">
                    <p class="texcon03">대그룹</p>
                    <p><select name="searchRargeGroup" class="inbox02" id="searchLargeGroup" style="width: 100%;" >
                        <option value="" selected>largeGroup1</option>
                    </select></p>
                </div>
                <div class="searchGroup-float-left">
                    <p class="texcon03">중그룹</p>
                    <p><select name="searchMediumGroup" class="inbox02" id="searchMediumGroup" style="width: 100%;" >
                        <option value="" selected>mediumGroup</option>
                    </select></p>
                </div>
                <div class="searchGroup-float-left">
                    <p class="texcon03">소그룹</p>
                    <p><select name="searchSmallGroup" class="inbox02" id="searchSmallGroup" style="width: 100%;" >
                        <option value="" selected>smallGroup</option>
                    </select></p>
                </div>
            </form>
                <div class="searchGroup-float-left">
                    <p class="texcon03">&nbsp;</p>
                    <p><button class="btn margin0 w82" id="searchDialogBtn">search</button></p>
                </div>
            
        </div>
        <div class="clear-both"></div>
        <div style="border: 1px solid #858483 !important; height : 540px; margin:15px 0 0 0;">
            <div class="Tbl_wrap">
                <table class="Tbl" id="searchListTbl">
                    <caption>product list
                        <form action="" id="setRows">
                        <input type="hidden" name="rowPerPage" value="2">
                        </form>
                    </caption>
                    <colgroup><col width="7%" ><col width="93%" ></colgroup>
                    <thead>
                        <tr>
                            <th><input name="ch1All" class="tweak-input" id="allCheck" type="checkbox"/></th>
                            <th class="txt_left">Dialog</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="clear-both"></div>
        <footer>
            <button class="btn disable" id="btnAddDlg" onclick="learnDialog()">Save</button>
            <a href="#" class="btn b02  btn-small js-modal-close" id="searchDialogCancel">Cancel</a>
        </footer>
    </div>
</body>

    
    
</html>