<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/css/utterances.css' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
        <!--<%= title %>title-->
        TIIS Manager
    </title>
    
    <%include  ./common/commonUse.html%>
    <script type="text/javascript" src="/js/common/utterances.js"></script>
    <!--진수 지워야할거 -->
    <script type="text/javascript">
        var divWidth  = "400"; //배너 1개 가로크기
        function prev()
        {
         $("#content").stop(true,true);
      
         var moveX   = parseInt($("#content").css("margin-left"));
      
         if( moveX < 0 )
         {
          $("#content").animate({"margin-left":"+=" + divWidth + "px"},500);
          $("#prevbtn").show();
         }
        }
        function next()
        {
         $("#content").stop(true,true);
      
         var hiddenWidth  = ($("#content dd").length-1)*(-divWidth);
         var moveX   = parseInt($("#content").css("margin-left")) ;
         var lastWidth  = ( moveX - divWidth );
      
         if( hiddenWidth < moveX )
         {
          $("#content").animate({"margin-left":"-=" + divWidth + "px"},500);
         }
        }
       </script>
<!--진수 지워야할거 -->
</head>

<body class="main">
	<input type="hidden" name="utterence" id="utterence" value='<%=utterance%>'/>
	
    <%include  ./header.html%>
    <%include  ./header4Luis.html%>
    <div id="wrap4Luis">
        <div id="container" class="main">


            <div class="subt_wrap">
                <div id="subtitDiv"><h2><%= title %></h2></div>
            </div>

            <div id="utterDiv">
                <div class="utterLeft">

                    
                    <div class="in-line">
                        <input name="iptUtterance" id="iptUtterance" type="text" class="inbox02" style="width:73.5%; margin: 3px;" placeholder="입력문장" >
                        <button class="btn disable" id="utterDelete" disabled="disabled">delete</button>
                        <button class="btn disable" id="utterLearn"  disabled="disabled">learn</button>
                        
                    </div>                      

                    <!-- 어터런스 list 출력 div -->
                    <div id="utterListDiv" style="border: 1px solid #858483 !important; height : 240px; margin:15px 0 0 0;">
                        <div class="Tbl_wrap">
                            <table class="Tbl" id="entityUtteranceTextTable" summary="의도설정">
                                <colgroup><col width="7%" ><col width="93%" ></colgroup>
                                <thead>
                                    <tr>
                                        <th><input name="ch1All" class="tweak-input" id="allCheck" type="checkbox"/></th>
                                        <th class="txt_left">Utterance</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>

                        <!-- 페이징 -->
                        <div class="paginate"  id="paginationInfo">

                        </div>
                    </div>

                    <div id="recommendationDiv" >
                        <div style=" margin:30px 0 0 0;  ">
                            <h3 >추천문장</h3>
                        </div>
                        <!-- 추천문장 리스트 출력 div -->
                        <div style="border: 1px solid #858483 !important; height : 300px; padding:10px; margin:10px 0 0 0;">

                        </div>

                        <!-- 페이징 -->
                        <div class="paginate"  id="paginationInfo">

                        </div>
                    </div>
                    

                    
                </div>

                <div class="utterRight" >
                    <div style="width:100%">
                        <h3 style="float:left;">추천 다이얼로그</h3>
                        <button class="btn" style="float:right;" id="recommandDlgBtn" onclick="openModalBox('#create_dlg')">create</button>  <!-- disabled="disabled" -->
                        <button class="btn" style="float:right;" id="" onclick="">Search</button>  <!-- disabled="disabled" -->
                    </div>
                    <!-- 추천 다이얼로그 list 출력 div -->
                    <div class="utterList">

                        <div class="Tbl_wrap">
                            <table class="Tbl" id="dlgListTable" summary="다이얼로그">
                                <colgroup><col width="10%" ><col width="85%" ></colgroup>
                                <thead>
                                    <tr>
                                        <th><input name="dlgChkAll" class="tweak-input" id="checkAllDlg" type="checkbox"/></th>
                                        <th class="txt_left">Text</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><!-- 글자 -->
                                        <td class='tbl_td_chatting'>
                                            이미지
                                        </td>
                                        <td class='tbl_td_chatting'>
                                            <div class="tbl_div_chatting">d</div>
                                        </td>
                                    </tr>
                                    <tr><!-- 이미지 슬라이드 -->
                                        <td class='tbl_td_chatting'>
                                            이미지
                                        </td>
                                            <td class='tbl_td_chatting'>
                                            <div class="tbl_div_chatting">
                                                <table id="image_tbl">
                                                    <tr>
                                                        <td>
                                                            <div id="prevbtn" onclick="prev()"><img src="../images/" ></div>
                                                            <div id="nextbtn" onclick="next()"><img src="../images/"></div>
                                                            <div id="warp">
                                                                    <div id="mask">
                                                                        <div id="content">
                                                                         <dl>
                                                                            <dt>                                                                                    
                                                                                <dd>
                                                                                    <table>
                                                                                        <tr>
                                                                                            <td><img class="catting_image" src="../images/d_img01.jpg"></td>
                                                                                            <td><img class="catting_image" src="../images/d_img02.jpg"></td>
                                                                                        </tr>
                                                                                        <tr><td>1번사진내용</td><td>2번사진내용</td></tr>
                                                                                        <tr><td><a href="#">1번사진링크</a></td><td><a href="#">2번사진내용</a></td></tr>
                                                                                    </table>
                                                                                <dd><img class="catting_image" src="../images/d_img03.jpg"></dd>
                                                                            </dt>
                                                                            <dt>
                                                                            </dt>
                                                                        </dl>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- 이미지 슬라이드 종료 -->
                                </tbody>
                            </table>
                        </div>

                        <!-- 페이징 -->
                        <div class="paginate"  id="paginationInfo">

                        </div>

                    </div>

                    <!-- 페이징 -->
                    <div class="paginate"  id="paginationInfo">

                    </div>
                </div>
            </div>

        </div>
    </div>

    <hr>
    <footer>
        <p>&copy; Company 2014</p>
    </footer>
    



    <!--신규 다이얼로그 등록 -->
    <div id="create_dlg" class="modal_box w600" style="height: auto !important">
        <header> <a href="#" id="addDialogClose" class="js-modal-close close">×</a>
          <h3>Create new Dialogue Set</h3><!-- 신규 다이얼로그 등록 -->
        </header>
    
        <!-- form start -->
        <form name="appInsertForm" id="appInsertForm" method="post">
    
        <div class="modal-body">
            <p class="texcon03">Source Type <span>(required) </span></p>
            <p><select name="sourceType" class="inbox02" id="sourceType" style="width:100%" >
                <option value="Common" selected>Common</option>
                <option value="Api Quot">Api Quot</option>
                <option value="Api Testdrive">Api Testdrive</option>
            </select></p>

            <p class="texcon03">Group <span>(required) </span></p>
            <div class="group-float-left">
                <p class="texcon03">대그룹</p>
                <p><select name="largeGroup" class="inbox02" id="largeGroup" style="width: 100%;" >
                    <option value="" selected>largeGroup1</option>
                    <option value="">largeGroup2</option>
                    <option value="">largeGroup3</option>
                </select></p>
            </div>
            <div class="group-float-left">
                <p class="texcon03">중그룹</p>
                <p><select name="mediumGroup" class="inbox02" id="mediumGroup" style="width: 100%;" >
                    <option value="" selected>mediumGroup1</option>
                    <option value="">mediumGroup2</option>
                    <option value="">mediumGroup3</option>
                </select></p>
            </div>
            <div class="group-float-left-last">
                <p class="texcon03">소그룹</p>
                <p><select name="smallGroup" class="inbox02" id="smallGroup" style="width: 100%;" >
                    <option value="" selected>smallGroup1</option>
                    <option value="">smallGroup2</option>
                    <option value="">smallGroup3</option>
                </select></p>
            </div>
            <div class="clear-both"></div>

            <p class="texcon03">Description  <span>(optional) </span></p>
            <p><textarea name="description" id="description" cols="" rows="3" style="width:100%; resize:none;" placeholder="Input text.." onkeyup=""></textarea></p>

            <div class="layout-float-left">
                <p class="texcon03">Dialogue Type <span>(required) </span></p>
                <p><select name="dlgType" class="inbox02" id="dlgType" style="width:100%" >
                    <option value="2" selected>Text</option>
                    <option value="3">Carousel</option>
                    <option value="4">Media</option>
                </select></p>
            </div>
            <div class="layout-float-left-last">
                <p class="texcon03">Dialogue Order <span>(required) </span></p>
                <p><select name="dialogOrderNo" class="inbox02" id="dialogOrderNo" style="width:100%" >
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select></p>
            </div>
            <div class="clear-both"></div>

            <p class="texcon03">Dialogue Text  <span>(required) </span></p>
            <p><textarea name="dialogText" id="dialogText" cols="" rows="3" style="width:100%; resize:none;" placeholder="Input text.." onkeyup="dialogValidation('dialogInsert');"></textarea></p>
            
            <!-- carousal 일 경우 card 순서 input box 추가 layout -->
            <div id="cardLayout" style="display:none;">
                <p class="texcon03">Card Order <span>(required) </span></p>
                <p><select name="cardOrderNo" class="inbox02" id="cardOrderNo" style="width:100%" >
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select></p>
            </div>

            <!-- media , carousal 일 경우 input box 추가 layout -->
            <div id="mediaCarouselLayout" style="display:none;">
                <div class="layout-float-left">
                    <p class="texcon03">Button Name <span>(optional) </span></p>
                    <p>
                        <input name="buttonName1" type="text" class="inbox02 btnBox" id="buttonName1" placeholder="Input name.." />
                        <input name="buttonName2" type="text" class="inbox02 btnBox" id="buttonName2" placeholder="Input name.." />
                        <input name="buttonName3" type="text" class="inbox02 btnBox" id="buttonName3" placeholder="Input name.." />
                        <input name="buttonName4" type="text" class="inbox02 btnBox" id="buttonName4" placeholder="Input name.." />
                    </p>
                </div>
                <div class="layout-float-left-last">
                    <p class="texcon03">Button Content <span>(optional) </span></p>
                    <p>
                        <input name="buttonContent1" type="text" class="inbox02 btnBox" id="buttonContent1" placeholder="Input contents.." />
                        <input name="buttonContent2" type="text" class="inbox02 btnBox" id="buttonContent2" placeholder="Input contents.." />
                        <input name="buttonContent3" type="text" class="inbox02 btnBox" id="buttonContent3" placeholder="Input contents.." />
                        <input name="buttonContent4" type="text" class="inbox02 btnBox" id="buttonContent4" placeholder="Input contents.." />
                    </p>
                </div>
                <div class="clear-both"></div>

                <p class="texcon03">Image Url <span>(optional) </span></p>
                <p><input name="imgUrl" type="text" class="inbox02" id="imgUrl" style="width:100%" placeholder="Input image url.." /></p>
            </div>
            <!--// media , carousal 일 경우 input box 추가 layout -->

            <div class="layout-float-left">
                <p class="texcon03">Dialogue Add</p>
                <p><button class="btn margin0 w82" id="addDialogBtn">Add</button></p>
            </div>
            <div class="layout-float-left-last">
                <p class="texcon03">Preview</p>
                <p><button class="btn margin0 w82" id="previewBtn">미리보기</button></p>
            </div>
            <div class="clear-both"></div>
            
        </div>
    
        </form>
        <!-- form end -->
    
        <footer>
          <button class="btn disable" id="btnAddDlg" onclick="insertDialog()">Save</button>
          <a href="#" class="btn b02  btn-small js-modal-close" id="addDialogCancel">Cancel</a>
        </footer>
    
    </div>
    <!--//신규 다이얼로그 등록 -->

    <div id="layoutBackground" ></div>
    <div class="mask"></div>  

    <!--추천 다이얼로그 조회중인 어터런스 id -->
    <input type="hidden" id="selectedUtterId" value="" />
</body>

    
    
</html>